description: Installs PAN-OS system software.
id: PAN-OS Network Operations - Install Software
inputs:
- description: Target Version to INstall
  key: target_version
  playbookInputQuery:
  required: false
  value: {}
- description: Target Device
  key: target
  playbookInputQuery:
  required: false
  value: {}
name: PAN-OS Network Operations - Install Software
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1114c20f-b7a4-4d52-8313-7c30d02cd7c8
      iscommand: false
      name: ""
      version: -1
    taskid: 1114c20f-b7a4-4d52-8313-7c30d02cd7c8
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": -80
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      device_filter_string:
        simple: ${inputs.target}
      version:
        simple: ${inputs.target_version}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Install the given software version onto the device. Download the software first with
      id: 25154c7f-0d20-4a04-842d-40caff7446ad
      iscommand: true
      name: Install the given software version
      script: "|||pan-os-platform-install-software"
      type: regular
      version: -1
    taskid: 25154c7f-0d20-4a04-842d-40caff7446ad
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 190
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      device_filter_string:
        simple: ${inputs.target}
      job_type:
        simple: SWInstall
      status:
        simple: ACT
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get all the jobs from the devices in the environment.
      id: a7bca76c-0a39-439e-895d-96f19928534a
      iscommand: true
      name: Get Jobs
      script: "|||pan-os-platform-get-jobs"
      type: regular
      version: -1
    taskid: a7bca76c-0a39-439e-895d-96f19928534a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 340
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      scriptArguments:
        Ids:
          complex:
            accessor: id
            root: PANOS.JobStatus
            transformers:
            - operator: LastArrayElement
        Interval:
          simple: "1"
        PollingCommandArgName:
          simple: id
        PollingCommandName:
          simple: pan-os-platform-get-jobs
        Timeout:
          simple: "20"
        dt:
          simple: PANOS.JobStatus(val.status!=="FIN").id
      wait: 1
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      AdditionalPollingCommandArgNames:
        simple: device_filter_string
      AdditionalPollingCommandArgValues:
        simple: ${inputs.target}
      Ids:
        complex:
          accessor: id
          root: PANOS.JobStatus
          transformers:
          - operator: LastArrayElement
      Interval:
        simple: "1"
      PollingCommandArgName:
        simple: id
      PollingCommandName:
        simple: pan-os-platform-get-jobs
      Timeout:
        simple: "20"
      dt:
        simple: PANOS.JobStatus(val.status!=="FIN").id
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Use this playbook as a sub-playbook to block execution of the master playbook until a remote action is complete.
        This playbook implements polling by continuously running the command in Step \#2 until the operation completes.
        The remote action should have the following structure:

        1. Initiate the operation.
        2. Poll to check if the operation completed.
        3. (optional) Get the results of the operation.
      id: 511c4b5c-dfd9-434f-884a-776bb89a810b
      iscommand: false
      name: GenericPolling
      playbookName: GenericPolling
      type: playbook
      version: -1
    taskid: 511c4b5c-dfd9-434f-884a-776bb89a810b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 450,
          "y": 650
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: status
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: PANOS.JobStatus.type
                    operator: isEqualString
                    right:
                      value:
                        simple: SWInstall
                root: PANOS.JobStatus
          operator: isEqualString
          right:
            value:
              simple: FIN
      - - left:
            iscontext: true
            value:
              complex:
                accessor: result
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: PANOS.JobStatus.type
                    operator: isEqualString
                    right:
                      value:
                        simple: SWInstall
                root: PANOS.JobStatus
          operator: isEqualString
          right:
            value:
              simple: OK
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the software installation finished successfully.
      id: 426f96a1-80ed-463f-8a3e-384ec12db7f7
      iscommand: false
      name: Did it complete?
      type: condition
      version: -1
    taskid: 426f96a1-80ed-463f-8a3e-384ec12db7f7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 970
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      device_filter_string:
        simple: ${inputs.target}
      id:
        complex:
          accessor: id
          root: PANOS.JobStatus
          transformers:
          - operator: LastArrayElement
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get all the jobs from the devices in the environment, or a single job when ID is specified.
      id: 1bc37e9e-0b88-4cad-85c8-38fe7910192c
      iscommand: true
      name: Get jobs again to check status
      script: "|||pan-os-platform-get-jobs"
      type: regular
      version: -1
    taskid: 1bc37e9e-0b88-4cad-85c8-38fe7910192c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 815
        }
      }
  "6":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: PANOS.JobStatus.status
          operator: isEqualString
          right:
            value:
              simple: ACT
      label: ACT
    - condition:
      - - left:
            iscontext: true
            value:
              simple: PANOS.JobStatus.status
          operator: isEqualString
          right:
            value:
              simple: FIN
      label: FIN
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      ACT:
      - "3"
      FIN:
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: It's possible that, if software has already been installed, then we don't get an active job for it.
      id: 8e9ac62e-e4da-4503-80ab-df3e0517c733
      iscommand: false
      name: Is the job active?
      type: condition
      version: -1
    taskid: 8e9ac62e-e4da-4503-80ab-df3e0517c733
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 490
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fcf2d694-d215-4789-818c-247709722a63
      iscommand: false
      name: Finish
      type: title
      version: -1
    taskid: fcf2d694-d215-4789-818c-247709722a63
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1160
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: Software install job failed.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: abb1275a-2d99-4c32-8319-5233aa2d542e
      iscommand: false
      name: Fail message
      scriptName: PrintErrorEntry
      type: regular
      version: -1
    taskid: abb1275a-2d99-4c32-8319-5233aa2d542e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 890,
          "y": 1335
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Installing Software Version ${inputs.target_version}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 2fedbf9e-9f6f-4bab-825f-8311a243278e
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 2fedbf9e-9f6f-4bab-825f-8311a243278e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 40
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Software Install failed.
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 82d4caa2-d0e3-46ab-813a-d7d38f5b461b
      iscommand: true
      name: Set Description
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 82d4caa2-d0e3-46ab-813a-d7d38f5b461b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 890,
          "y": 1160
        }
      }
version: 6
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1510,
        "width": 820,
        "x": 450,
        "y": -80
      }
    }
  }