description: Takes a JSON snapshot of the current operational state of the device.
id: PAN-OS Network Operations - Take Snapshot
inputs:
- description: The target to take the snapshot of
  key: target
  playbookInputQuery:
  required: true
  value:
    simple: ${incident.panosnetworkoperationstarget}
name: PAN-OS Network Operations - Take Snapshot
outputs:
- contextPath: File.EntryID
  description: The file entry ID.
  type: string
quiet: true
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cbdef3f2-f531-4a35-8f05-1e3c184ff55e
      iscommand: false
      name: ""
      version: -1
    taskid: cbdef3f2-f531-4a35-8f05-1e3c184ff55e
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerror: true
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: true
    quietmode: 0
    scriptarguments:
      target:
        simple: ${inputs.target}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Takes a JSON Snapshot of the current operational state of the target device
      id: edbb18e0-483b-496a-8c2c-f7b2e34985cf
      iscommand: false
      name: Take Snapshot
      scriptName: TakeOperationalSnapshot
      tags:
      - snapshot-file
      type: regular
      version: -1
    taskid: edbb18e0-483b-496a-8c2c-f7b2e34985cf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 380
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 65eccdae-3d4a-4cc7-8fe5-b120327647dd
      iscommand: false
      name: Finish
      type: title
      version: -1
    taskid: 65eccdae-3d4a-4cc7-8fe5-b120327647dd
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 570
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Taking System Snapshot
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 69232190-02bd-40c0-84c9-0b50eb30485d
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 69232190-02bd-40c0-84c9-0b50eb30485d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 180
        }
      }
version: 6
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 585,
        "width": 380,
        "x": 450,
        "y": 50
      }
    }
  }