description: Determines which device in a HA pair is active or passive, and if the pair is an active-passive or active-active mode.
id: PAN-OS Network Operations - Get HA Pair Status
inputs:
- description: Target firewall
  key: target
  playbookInputQuery:
  required: false
  value: {}
name: PAN-OS Network Operations - Get HA Pair Status
outputs:
- contextPath: ActiveDevice
  description: The active firewall.
  type: string
- contextPath: PassiveDevice
  description: The passive firewall - may be empty.
  type: string
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 30f9e301-5fb1-475f-88d0-faf1fd118b70
      iscommand: false
      name: ""
      version: -1
    taskid: 30f9e301-5fb1-475f-88d0-faf1fd118b70
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      target:
        simple: ${inputs.target}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets the HA state and associated details from the given device and any other details.
      id: e1fb5109-93a1-4824-8ce8-1c7606a57b1f
      iscommand: true
      name: Get HA state
      script: "|||pan-os-platform-get-ha-state"
      type: regular
      version: -1
    taskid: e1fb5109-93a1-4824-8ce8-1c7606a57b1f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 190
        }
      }
  "2":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: PANOS.HAState.peer
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c2216111-7989-4997-8f67-9088fa0a5ca4
      iscommand: false
      name: Is there a peer?
      type: condition
      version: -1
    taskid: c2216111-7989-4997-8f67-9088fa0a5ca4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 350
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      target:
        simple: ${PANOS.HAState.peer}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets the HA state and associated details from the given device and any other details.
      id: 794c5042-f3dc-4974-8001-af1d0037ad31
      iscommand: true
      name: Get Peer HA State
      script: "|||pan-os-platform-get-ha-state"
      type: regular
      version: -1
    taskid: 794c5042-f3dc-4974-8001-af1d0037ad31
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 520
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 846e695c-be25-45ae-83ca-b9ad489918e0
      iscommand: false
      name: Finish - No HA
      type: title
      version: -1
    taskid: 846e695c-be25-45ae-83ca-b9ad489918e0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1070,
          "y": 920
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: ActiveDevice
      value:
        complex:
          accessor: hostid
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PANOS.HAState.active
              operator: isTrue
          root: PANOS.HAState
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 4a29f2ac-3ca4-48ab-89b9-eb92d3a747a4
      iscommand: false
      name: Set Active Peer
      scriptName: Set
      type: regular
      version: -1
    taskid: 4a29f2ac-3ca4-48ab-89b9-eb92d3a747a4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 250,
          "y": 700
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: PassiveDevice
      value:
        complex:
          accessor: hostid
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PANOS.HAState.active
              operator: isFalse
          - - left:
                iscontext: true
                value:
                  simple: PANOS.HAState.status
              operator: isEqualString
              right:
                value:
                  simple: passive
          root: PANOS.HAState
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: c8f7108a-c337-4900-8a50-b1b92412d1fa
      iscommand: false
      name: Set Passive Peer
      scriptName: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: c8f7108a-c337-4900-8a50-b1b92412d1fa
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 660,
          "y": 700
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1d40842a-4e32-4e68-855f-3b19e1af491f
      iscommand: false
      name: Finish HA Discovery
      type: title
      version: -1
    taskid: 1d40842a-4e32-4e68-855f-3b19e1af491f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 880
        }
      }
version: 6
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 935,
        "width": 1200,
        "x": 250,
        "y": 50
      }
    }
  }