description: This is a subplaybook that just restarts the device upgrade process
  if required. It needs to be dedicated to a subplaybook or it will fail to loop
  if there are multiple steps in the upgrade process.
id: 6d1d456f-2edf-4cae-8c93-d38b87682c1d
inputs: []
name: PAN-OS Network Operations - Start Next Device Upgrade
outputs: []
quiet: true
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#none#":
        - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e4d4dc48-4341-4af8-88ec-0c3106b75842
      iscommand: false
      name: ""
      version: -1
    taskid: e4d4dc48-4341-4af8-88ec-0c3106b75842
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      incidentId:
        simple: ${incident.id}
      name:
        simple: PAN-OS Network Operations - Device Upgrade
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.playbook
      id: bef73343-8852-4d87-80d2-bc4258f3e8ca
      iscommand: true
      name: Start Next Upgrade
      script: Builtin|||setPlaybook
      type: regular
      version: -1
    taskid: bef73343-8852-4d87-80d2-bc4258f3e8ca
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 210
        }
      }
vcShouldKeepItemLegacyProdMachine: false
version: 5
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 255,
        "width": 380,
        "x": 450,
        "y": 50
      }
    }
  }
