description: Given a PAN-OS version, searches the security advisories website
  for matching CVEs and relates them when seen.
id: 1e9d1015-078f-4ac0-8bf7-6a471404561d
inputs:
  - description: ""
    key: panos_version
    playbookInputQuery: null
    required: false
    value:
      simple: 9.0.5
  - description: ""
    key: panos_id
    playbookInputQuery: null
    required: false
    value:
      simple: 6F5A32602DF9260
  - description: ""
    key: device_type
    playbookInputQuery: null
    required: false
    value:
      simple: Network Device
  - description: ""
    key: ""
    playbookInputQuery:
      daterange:
        fromdate: 0001-01-01T00:00:00Z
        fromdatelicenseval: 0001-01-01T00:00:00Z
        period:
          by: ""
          byfrom: ""
          byto: ""
          field: ""
          fromvalue: null
          tovalue: null
        todate: 0001-01-01T00:00:00Z
      query: type:"Panorama Device" or type:"Network Device"
      queryEntity: indicators
      results: null
      runFromLastJobTime: true
    required: false
    value: {}
name: PAN-OS Network Operations - Create CVE Relationships
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#none#":
        - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d668fac3-5127-4e49-8a27-1c9b8e77af4c
      iscommand: false
      name: ""
      version: -1
    taskid: d668fac3-5127-4e49-8a27-1c9b8e77af4c
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": -640
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#none#":
        - "8"
    note: false
    quietmode: 0
    scriptarguments:
      product:
        simple: PAN-OS
      q:
        simple: ${inputs.panos_version}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets all the advisories for the given product.
      id: 266a0a56-9fc0-486f-8b07-7f6b23ee40a7
      iscommand: true
      name: Get the advisories for this Version
      script: "|||pan-advisories-get-advisories"
      type: regular
      version: -1
    taskid: 266a0a56-9fc0-486f-8b07-7f6b23ee40a7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": -310
        }
      }
  "10":
    conditions:
      - condition:
          - - left:
                iscontext: true
                value:
                  simple: MatchingSecurityAdvisory.cve_id
              operator: isNotEmpty
        label: "yes"
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#default#":
        - "6"
      "yes":
        - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9fe983af-5d3c-40bc-8b51-b96e6f2f827f
      iscommand: false
      name: Did we get any advisories?
      type: condition
      version: -1
    taskid: 9fe983af-5d3c-40bc-8b51-b96e6f2f827f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 220
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#none#":
        - "10"
    note: false
    quietmode: 0
    scriptarguments:
      advisories:
        simple: ${PANSecurityAdvisory.Advisory}
      version:
        simple: ${inputs.panos_version}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description:
        Checks if the given PAN-OS version number is affected by the given
        list of vulnerabilties from the pan-advisories-get-advisories command.
      id: 1383e798-cf29-4fb4-8fc4-c61b1270f15c
      iscommand: false
      name: Check if this version is affected by any CVEs
      scriptName: CheckPanosVersionAffected
      type: regular
      version: -1
    taskid: 1383e798-cf29-4fb4-8fc4-c61b1270f15c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 30
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#none#":
        - "1"
    note: false
    quietmode: 0
    scriptarguments:
      entities_types:
        simple: CVE
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description:
        This automation outputs the indicator relationships to context
        according to the provided query, using the entities, entityTypes, and
        relationships arguments. All arguments will use the AND operator. For
        example, using the following arguments entities=8.8.8.8
        entities_types=Domain will provide only relationships that the 8.8.8.8
        indicator has with indicators of type domain.
      id: d1591a3b-e4f4-4482-853d-6d0d8c1d6308
      iscommand: false
      name: Find Existing Relationships
      scriptName: SearchIndicatorRelationships
      type: regular
      version: -1
    taskid: d1591a3b-e4f4-4482-853d-6d0d8c1d6308
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": -490
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#none#":
        - "7"
    note: false
    quietmode: 0
    scriptarguments:
      ids:
        complex:
          accessor: ID
          filters:
            - - left:
                  iscontext: true
                  value:
                    simple: Relationships.EntityB
                operator: notIn
                right:
                  iscontext: true
                  value:
                    simple: MatchingSecurityAdvisory.cve_id
          root: Relationships
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description:
        This automation allows to delete a relationship between indicator
        objects based on the relationship id.
      id: 172f58d4-19e9-45ff-8bdc-5dc0218feb3b
      iscommand: false
      name: Delete any CVE Relationships no longer applicable to this version.
      scriptName: DeleteIndicatorRelationships
      type: regular
      version: -1
    taskid: 172f58d4-19e9-45ff-8bdc-5dc0218feb3b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 790
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#none#":
        - "6"
    note: false
    quietmode: 0
    scriptarguments:
      entity_a:
        simple: ${inputs.panos_id}
      entity_a_type:
        simple: Network Device
      entity_b:
        simple: ${MatchingSecurityAdvisory.cve_id}
      entity_b_type:
        simple: CVE
      relationship:
        simple: related-to
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This automation creates a relationship between indicator objects.
      id: d02b6589-4432-4258-84db-304b43ef55a4
      iscommand: false
      name: Create Indicator Relationships
      scriptName: CreateIndicatorRelationship
      type: regular
      version: -1
    taskid: d02b6589-4432-4258-84db-304b43ef55a4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 450
        }
      }
  "6":
    conditions:
      - condition:
          - - left:
                iscontext: true
                value:
                  complex:
                    accessor: ID
                    filters:
                      - - left:
                            iscontext: true
                            value:
                              simple: Relationships.EntityB
                          operator: notIn
                          right:
                            iscontext: true
                            value:
                              simple: MatchingSecurityAdvisory.cve_id
                    root: Relationships
              operator: isNotEmpty
        label: "yes"
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#default#":
        - "7"
      "yes":
        - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 964061d8-44c1-420f-811b-b26c4011e688
      iscommand: false
      name: Are there now redundant relationships?
      type: condition
      version: -1
    taskid: 964061d8-44c1-420f-811b-b26c4011e688
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 615
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ec397dd2-546c-4531-86d8-393d7c4eabe2
      iscommand: false
      name: Finish
      type: title
      version: -1
    taskid: ec397dd2-546c-4531-86d8-393d7c4eabe2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 970
        }
      }
  "8":
    conditions:
      - condition:
          - - left:
                iscontext: true
                value:
                  simple: PANSecurityAdvisory.Advisory.cve_id
              operator: isNotEmpty
        label: "yes"
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#default#":
        - "9"
      "yes":
        - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 13109a6b-e8fb-4007-8624-707c1d8e0dac
      iscommand: false
      name: Did we get any advisories?
      type: condition
      version: -1
    taskid: 13109a6b-e8fb-4007-8624-707c1d8e0dac
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": -150
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#none#":
        - "7"
    note: false
    quietmode: 0
    scriptarguments:
      ids:
        simple: ${Relationships.ID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description:
        This automation allows to delete a relationship between indicator
        objects based on the relationship id.
      id: 5543cce1-717e-4499-8755-6ad29c723a51
      iscommand: false
      name: Delete all CVE Relationships.
      scriptName: DeleteIndicatorRelationships
      type: regular
      version: -1
    taskid: 5543cce1-717e-4499-8755-6ad29c723a51
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 800
        }
      }
vcShouldKeepItemLegacyProdMachine: false
version: 5
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1675,
        "width": 840,
        "x": 450,
        "y": -640
      }
    }
  }
