description: Checks a specific version of software for any open CVEs, and if they exist, starts a domain upgrade for that system to a fixed version.
id: PAN-OS Network Operations - Check Version for CVEs
inputs:
- description: Software version to check.
  key: panos_version
  playbookInputQuery:
  required: true
  value: {}
- description: Minimum CVSS score to initiate the upgrade process.
  key: minimum_cvss_score
  playbookInputQuery:
  required: false
  value:
    simple: "7.0"
name: PAN-OS Network Operations - Check Version for CVEs
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 14c2278a-0944-4204-87c3-89f3e80969ec
      iscommand: false
      name: ""
      version: -1
    taskid: 14c2278a-0944-4204-87c3-89f3e80969ec
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 460,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      product:
        simple: PAN-OS
      q:
        simple: ${inputs.panos_version}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets all the advisories for the given product.
      id: 6ea752d3-172b-4186-8b09-ba5d03774c14
      iscommand: true
      name: Get the advisories for this Version
      script: "|||pan-advisories-get-advisories"
      type: regular
      version: -1
    taskid: 6ea752d3-172b-4186-8b09-ba5d03774c14
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 190
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      advisories:
        simple: ${PANSecurityAdvisory.Advisory}
      version:
        simple: ${inputs.panos_version}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Checks if the given PAN-OS version number is affected by the given list of vulnerabilties. "
      id: c4305c0d-acbc-46b8-89c7-b32388a6f97f
      iscommand: false
      name: Check if this version is affected by any CVEs
      scriptName: CheckPanosVersionAffected
      type: regular
      version: -1
    taskid: c4305c0d-acbc-46b8-89c7-b32388a6f97f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 350
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: cve_id
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: MatchingSecurityAdvisory.cvss_score
                    operator: greaterThan
                    right:
                      iscontext: true
                      value:
                        simple: inputs.minimum_cvss_score
                root: MatchingSecurityAdvisory
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a3c79b5f-f6db-4f8c-8b46-963eb2513078
      iscommand: false
      name: Any matches?
      type: condition
      version: -1
    taskid: a3c79b5f-f6db-4f8c-8b46-963eb2513078
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 540
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a412370e-d042-499a-8c5b-22ff086c6301
      iscommand: false
      name: Finish
      type: title
      version: -1
    taskid: a412370e-d042-499a-8c5b-22ff086c6301
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 470,
          "y": 1090
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        complex:
          accessor: cve_id
          filters:
          - - left:
                iscontext: true
                value:
                  simple: MatchingSecurityAdvisory.cvss_score
              operator: greaterThanOrEqual
              right:
                iscontext: true
                value:
                  simple: inputs.minimum_cvss_score
          root: MatchingSecurityAdvisory
          transformers:
          - args:
              separator:
                value:
                  simple: ", "
            operator: join
          - args:
              prefix:
                value:
                  simple: |+
                    This version is affected by the following CVEs:

              suffix:
                value:
                  simple: |2-


                    This incident will upgrade all the devices on this version to a fixed release.
            operator: concat
      name:
        simple: Automatic CVE Remedation Upgrade - ${inputs.panos_version}
      panosnetworkoperationsdeviceupgradequery:
        simple: softwareversion:${inputs.panos_version}
      panosnetworkoperationsparentincidentid:
        simple: ${incident.id}
      type:
        simple: PAN-OS Network Operations - Batch Upgrade
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.create.inc
      id: c8694d2b-ed6c-43ac-87a9-457af67b24bf
      iscommand: true
      name: Create Platform Upgrade Incident
      script: Builtin|||createNewIncident
      type: regular
      version: -1
    taskid: c8694d2b-ed6c-43ac-87a9-457af67b24bf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 470,
          "y": 910
        }
      }
version: 7
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1105,
        "width": 390,
        "x": 460,
        "y": 50
      }
    }
  }