description: Download PAN-OS System software.
id: PAN-OS Network Operations - Download Software
inputs:
- description: Target Firewall - Serial or IP address
  key: target
  playbookInputQuery:
  required: false
  value: {}
- description: Target Software Version to Download
  key: target_version
  playbookInputQuery:
  required: false
  value: {}
- description: Default max timeout value
  key: timeout
  playbookInputQuery:
  required: false
  value:
    simple: "45"
name: PAN-OS Network Operations - Download Software
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1dfc9fd7-2a39-44c4-842a-393c7d1eeaab
      iscommand: false
      name: ""
      version: -1
    taskid: 1dfc9fd7-2a39-44c4-842a-393c7d1eeaab
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 440,
          "y": -510
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      device_filter_string:
        simple: ${inputs.target}
      retry-count:
        simple: "5"
      retry-interval:
        simple: "60"
      version:
        simple: ${inputs.target_version}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Download The provided software version onto the device.
      id: fbf8f2f4-52af-4756-8dc5-c86e885fcadc
      iscommand: true
      name: Download the Software Version
      script: "|||pan-os-platform-download-software"
      type: regular
      version: -1
    taskid: fbf8f2f4-52af-4756-8dc5-c86e885fcadc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": -225
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      device_filter_string:
        simple: ${PANOS.DownloadStatus.Summary.hostid}
      ignore-outputs:
        simple: "false"
      job_type:
        simple: Downld
      status:
        simple: ACT
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get all the jobs from the devices in the environment.
      id: 663c02c1-97cc-4672-8b24-19e647edc63a
      iscommand: true
      name: Get Jobs
      script: "|||pan-os-platform-get-jobs"
      type: regular
      version: -1
    taskid: 663c02c1-97cc-4672-8b24-19e647edc63a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": -50
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      scriptArguments:
        Ids:
          complex:
            accessor: id
            root: PANOS.JobStatus
            transformers:
            - operator: LastArrayElement
        Interval:
          simple: "1"
        PollingCommandArgName:
          simple: id
        PollingCommandName:
          simple: pan-os-platform-get-jobs
        Timeout:
          simple: "30"
        dt:
          simple: PANOS.JobStatus(val.status!=="FIN").id
      wait: 1
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      AdditionalPollingCommandArgNames:
        simple: device_filter_string
      AdditionalPollingCommandArgValues:
        simple: ${inputs.target}
      Ids:
        complex:
          accessor: id
          root: PANOS.JobStatus
          transformers:
          - operator: LastArrayElement
      Interval:
        simple: "1"
      PollingCommandArgName:
        simple: id
      PollingCommandName:
        simple: pan-os-platform-get-jobs
      Timeout:
        simple: ${inputs.timeout}
      dt:
        simple: PANOS.JobStatus(val.status!=="FIN").id
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Use this playbook as a sub-playbook to block execution of the master playbook until a remote action is complete.
        This playbook implements polling by continuously running the command in Step \#2 until the operation completes.
        The remote action should have the following structure:

        1. Initiate the operation.
        2. Poll to check if the operation completed.
        3. (optional) Get the results of the operation.
      id: d572700f-6232-4bac-86f0-5e7c44964c38
      iscommand: false
      name: GenericPolling
      playbookName: GenericPolling
      type: playbook
      version: -1
    taskid: d572700f-6232-4bac-86f0-5e7c44964c38
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 440,
          "y": 670
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          accessor: id
          root: PANOS.JobStatus
          transformers:
          - operator: LastArrayElement
      target:
        simple: ${inputs.target}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get all the jobs from the devices in the environment, or a single job when ID is specified.
      id: 392df7c5-9e23-4d79-8d97-6d47fe00a90f
      iscommand: true
      name: Get jobs again to check status
      script: "|||pan-os-platform-get-jobs"
      type: regular
      version: -1
    taskid: 392df7c5-9e23-4d79-8d97-6d47fe00a90f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": 820
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: PANOS.JobStatus.status
          operator: isEqualString
          right:
            value:
              simple: FIN
      - - left:
            iscontext: true
            value:
              simple: PANOS.JobStatus.result
          operator: isEqualString
          right:
            value:
              simple: OK
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: True if the software download was successful
      id: 96c2e42b-b178-4fae-8e2b-03ccb22d2e29
      iscommand: false
      name: Did it complete?
      type: condition
      version: -1
    taskid: 96c2e42b-b178-4fae-8e2b-03ccb22d2e29
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 440,
          "y": 990
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e1df68ac-44dc-4864-8f70-9dbc5913c580
      iscommand: false
      name: Finish
      type: title
      version: -1
    taskid: e1df68ac-44dc-4864-8f70-9dbc5913c580
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 440,
          "y": 1180
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: Download job failed.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: 046550c2-051f-4e7c-833b-c33dd8e64738
      iscommand: false
      name: Fail message
      scriptName: PrintErrorEntry
      type: regular
      version: -1
    taskid: 046550c2-051f-4e7c-833b-c33dd8e64738
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 870,
          "y": 1165
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Downloading Software Version ${inputs.target_version}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 647541b5-204c-4c8f-8f56-793141f89be0
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 647541b5-204c-4c8f-8f56-793141f89be0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": -390
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "30"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: 4997d532-34c2-4434-8f57-9a5182059d13
      iscommand: false
      name: Wait for job to get processed
      scriptName: Sleep
      type: regular
      version: -1
    taskid: 4997d532-34c2-4434-8f57-9a5182059d13
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 320
        }
      }
  "11":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: PANOS.JobStatus.id
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9116bad2-5564-4993-8d25-ba63bf931c9a
      iscommand: false
      name: Did we get a job?
      type: condition
      version: -1
    taskid: 9116bad2-5564-4993-8d25-ba63bf931c9a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 440,
          "y": 130
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      device_filter_string:
        simple: ${PANOS.DownloadStatus.Summary.hostid}
      ignore-outputs:
        simple: "false"
      job_type:
        simple: Downld
      status:
        simple: ACT
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get all the jobs from the devices in the environment.
      id: 0cf3fc4c-c616-4614-86ec-f657ba3eb6ba
      iscommand: true
      name: Get Jobs
      script: "|||pan-os-platform-get-jobs"
      type: regular
      version: -1
    taskid: 0cf3fc4c-c616-4614-86ec-f657ba3eb6ba
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 490
        }
      }
version: 6
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1770,
        "width": 850,
        "x": 440,
        "y": -510
      }
    }
  }