description: Checks for the given serial number to validate if it's connected to Panorama.
id: 91798901-7d40-4e34-8ecf-1f0119c30b6d
inputs:
  - description: Serial number of FW to check.
    key: serial
    playbookInputQuery: null
    required: true
    value:
      simple: ${incident.serialnumber}
name: PAN-OS Network Operations - Check if Device Onboarded
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#none#":
        - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 268e268c-0a3d-4c99-8a1f-e9b117cfa33d
      iscommand: false
      name: ""
      version: -1
    taskid: 268e268c-0a3d-4c99-8a1f-e9b117cfa33d
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#none#":
        - "2"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: value:${inputs.serial}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns indicator custom fields into the context by the given query.
      id: cbb8a93d-fc84-48fc-80ba-ec09d087def6
      iscommand: false
      name: Get Device By Serial
      scriptName: GetIndicatorFieldsByQuery
      type: regular
      version: -1
    taskid: cbb8a93d-fc84-48fc-80ba-ec09d087def6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 190
        }
      }
  "2":
    conditions:
      - condition:
          - - left:
                iscontext: true
                value:
                  simple: GetIndicatorFieldsByQuery
              operator: isNotEmpty
        label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#default#":
        - "4"
      "yes":
        - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e1db7e95-9eb9-4db3-8770-7a292d3e8d47
      iscommand: false
      name: Did we get a firewall?
      type: condition
      version: -1
    taskid: e1db7e95-9eb9-4db3-8770-7a292d3e8d47
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 360
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 1a8e7673-b4f0-4b6c-8b83-72da4a6bedd5
      iscommand: true
      name: Onboarding Process Complete
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 1a8e7673-b4f0-4b6c-8b83-72da4a6bedd5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 950
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#none#":
        - "6"
    note: false
    quietmode: 0
    scriptarguments:
      timerField:
        simple: pauseforpanorama
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.reset.timer
      id: c67f74ef-276e-4590-820e-da0097395ae7
      iscommand: true
      name: Device not yet connected - reset the timer
      script: Builtin|||resetTimer
      type: regular
      version: -1
    taskid: c67f74ef-276e-4590-820e-da0097395ae7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 850,
          "y": 580
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#none#":
        - "7"
    note: false
    quietmode: 0
    scriptarguments:
      incidentId:
        simple: ${incident.id}
      indicatorsValues:
        simple: ${inputs.serial}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.associate.indicators
      id: d29215d4-f0ed-49b0-8560-4f579ef5e9ef
      iscommand: true
      name: Associate the device indicator with this onboarding incident.
      script: Builtin|||associateIndicatorsToIncident
      type: regular
      version: -1
    taskid: d29215d4-f0ed-49b0-8560-4f579ef5e9ef
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 580
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7330b73c-4556-455c-8a45-b4a5d7f2df8a
      iscommand: false
      name: Start the Timer
      type: title
      version: -1
    taskid: 7330b73c-4556-455c-8a45-b4a5d7f2df8a
    timertriggers:
      - action: start
        fieldname: pauseforpanorama
    type: title
    view: |-
      {
        "position": {
          "x": 850,
          "y": 785
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#none#":
        - "3"
    note: false
    quietmode: 0
    scriptarguments:
      onboardingstatus:
        simple: Firewall Onboarded
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 4e8f9a54-c119-48f5-8639-f40e3f011b3c
      iscommand: true
      name: Update Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 4e8f9a54-c119-48f5-8639-f40e3f011b3c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 770
        }
      }
vcShouldKeepItemLegacyProdMachine: false
version: 5
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 995,
        "width": 780,
        "x": 450,
        "y": 50
      }
    }
  }
