description: Onboards the NGFW and Panorama devices as XSOAR incidents.
id: PAN-OS Network Operations - Onboarding
inputs: []
name: PAN-OS Network Operations - Onboarding
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#none#":
        - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 38507585-4eea-4480-83bf-e3115c544879
      iscommand: false
      name: ""
      version: -1
    taskid: 38507585-4eea-4480-83bf-e3115c544879
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#none#":
        - "3"
    note: false
    quietmode: 0
    scriptarguments:
      target:
        simple: ${PANOS.ShowSystemInfo.Summary.hostid}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Given a target device, creates or updates an existing PAN-OS
        Network Operations - Device incident.
      id: a4d0e4e7-90f2-48d6-8a49-76f30103a34f
      iscommand: false
      name: Update device incidents
      scriptName: CreateOrUpdateDeviceIncident
      type: regular
      version: -1
    taskid: a4d0e4e7-90f2-48d6-8a49-76f30103a34f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 360
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#none#":
        - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets information from all PAN-OS systems in the topology.
      id: e6660bae-a855-4c39-840a-5829e0763426
      iscommand: true
      name: Get system information
      script: "|||pan-os-platform-get-system-info"
      type: regular
      version: -1
    taskid: e6660bae-a855-4c39-840a-5829e0763426
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 200
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "#none#":
        - "4"
    note: false
    quietmode: 0
    scriptarguments:
      linkedIncidentIDs:
        simple: ${DeviceIncidents.device_incident_id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.linkIncidents
      id: 706c2c07-d528-436a-857c-f956c45f84d9
      iscommand: true
      name: Link Incidents
      script: Builtin|||linkIncidents
      type: regular
      version: -1
    taskid: 706c2c07-d528-436a-857c-f956c45f84d9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 530
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 928e2b9a-e538-42cc-89a5-80cdf5970a9b
      iscommand: false
      name: Onboarding Finished
      type: title
      version: -1
    taskid: 928e2b9a-e538-42cc-89a5-80cdf5970a9b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 710
        }
      }
vcShouldKeepItemLegacyProdMachine: false
version: 5
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 725,
        "width": 380,
        "x": 450,
        "y": 50
      }
    }
  }
