description: Upgrades a single or HA pair of PAN-OS firewalls.
id: PAN-OS Network Operations - Device Upgrade
inputs:
- description: Target Firewall for upgrade
  key: target_device
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.panosnetworkoperationstarget}
- description: Peer firewall (if any)
  key: peer_device
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.panosnetworkoperationsupgradepeerfirewall}
- description: Target version of upgrade
  key: target_version
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.panosnetworkoperationsupgradetargetversion}
name: PAN-OS Network Operations - Device Upgrade
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "58"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e25a516b-e99b-4178-8501-07cc2c986ed7
      iscommand: false
      name: ""
      version: -1
    taskid: e25a516b-e99b-4178-8501-07cc2c986ed7
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 520,
          "y": -3250
        }
      }
  "40":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.panosnetworkoperationsparentincidentid
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "63"
      "yes":
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: True if this incident was created by another incident.
      id: c8424cbe-555c-49c4-8ad0-8107267122de
      iscommand: false
      name: Do we have a parent incident?
      type: condition
      version: -1
    taskid: c8424cbe-555c-49c4-8ad0-8107267122de
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 520,
          "y": -2550
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    scriptarguments:
      linkedIncidentIDs:
        simple: ${incident.panosnetworkoperationsparentincidentid}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.linkIncidents
      id: eb7eaf31-9a3c-4677-84a1-48539b2480e5
      iscommand: true
      name: Link to parent
      script: Builtin|||linkIncidents
      type: regular
      version: -1
    taskid: eb7eaf31-9a3c-4677-84a1-48539b2480e5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 750,
          "y": -2350
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Awaiting Upgrade Confirmation
      name:
        simple: PAN-OS Upgrade - ${inputs.target_device}
      severity:
        simple: "0.5"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 96adcd0d-353a-4ad0-8338-0a762a71ca31
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 96adcd0d-353a-4ad0-8338-0a762a71ca31
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 520,
          "y": -2755
        }
      }
  "58":
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "48"
    note: false
    quietmode: 0
    scriptarguments:
      incidentId:
        simple: ${incident.id}
      value:
        simple: ${inputs.target_device}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Associates the device indicator to this incident; required when
        this is run as part of a batch upgrade
      id: 80a21366-7493-46ca-8458-697222d7cbb9
      iscommand: true
      name: Associate Device Indicator to this Incident
      script: Builtin|||associateIndicatorToIncident
      type: regular
      version: -1
    taskid: 80a21366-7493-46ca-8458-697222d7cbb9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 520,
          "y": -2920
        }
      }
  "59":
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "62"
    note: false
    quietmode: 0
    scriptarguments:
      target:
        simple: ${inputs.target_device}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Requests the available software images from a firewall, filters
        them, then prompts the user to select the version.
      id: a8f05f7f-04a2-4bd9-83e7-dfe58d21b2a6
      iscommand: false
      name: PAN-OS Network Operations - Filter and Select Available Software Images
      playbookId: PAN-OS Network Operations - Filter and Select Available Software Images
      type: playbook
      version: -1
    taskid: a8f05f7f-04a2-4bd9-83e7-dfe58d21b2a6
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1720
        }
      }
  "61":
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 187166ba-179f-439a-88c5-65b08ee0624a
      iscommand: false
      name: Complete!
      type: title
      version: -1
    taskid: 187166ba-179f-439a-88c5-65b08ee0624a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1370
        }
      }
  "62":
    continueonerrortype: ""
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    scriptarguments:
      peer_device:
        simple: ${incident.panosnetworkoperationsupgradepeerfirewall}
      reset_ha_topology:
        simple: "true"
      target_device:
        simple: ${inputs.target_device}
      target_version:
        simple: ${incident.upgradepath}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Upgrades a single or HA pair of PAN-OS firewalls, supports running
        as a subplaybook and be looped over to complete an entire upgrade path.
      id: 50dc3546-d006-401d-8d15-2784e25adb2e
      iscommand: false
      name: PAN-OS Network Operations - Device Upgrade Loop
      playbookId: PAN-OS Network Operations - Device Upgrade Loop
      type: playbook
      version: -1
    taskid: 50dc3546-d006-401d-8d15-2784e25adb2e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1550
        }
      }
  "63":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.panosnetworkoperationspanoramainstance
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "64"
      "yes":
      - "59"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 17c8bcef-9e0a-48dd-86e4-81fd700ae2e9
      iscommand: false
      name: Is Panorama Instance Set?
      type: condition
      version: -1
    taskid: 17c8bcef-9e0a-48dd-86e4-81fd700ae2e9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 520,
          "y": -2150
        }
      }
  "64":
    continueonerrortype: ""
    id: "64"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "59"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'This will set the Panorama instance field (panosnetworkoperationspanoramainstance)
        if it isn''t already set.  '
      id: d9814a7d-ab6a-4a7d-8a00-4835e6f58a06
      iscommand: false
      name: Set Panorama Instance
      script: SetPanoramaInstance
      type: regular
      version: -1
    taskid: d9814a7d-ab6a-4a7d-8a00-4835e6f58a06
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1930
        }
      }
version: 9
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1945,
        "width": 610,
        "x": 520,
        "y": -3250
      }
    }
  }
