id: PAN-OS Network Operations - Upgrade Assurance - First Snapshot
inputs:
- description: ""
  key: target
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.panosnetworkoperationstarget}
name: PAN-OS Network Operations - Upgrade Assurance - First Snapshot
outputs: []
quiet: true
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b5f9b4a7-2c71-402c-81f5-fe82c791f092
      iscommand: false
      name: ""
      version: -1
    taskid: b5f9b4a7-2c71-402c-81f5-fe82c791f092
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Readiness Check Result
      output:
        complex:
          accessor: ReadinessCheckResults
          root: FirewallAssurance
          transformers:
          - operator: ConvertKeysToTableFieldFormat
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      arp_entry_exists:
        simple: ${incident.checkarpentryexists}
      candidate_version:
        simple: ${incident.panosnetworkoperationsupgradetargetversion}
      check_list:
        simple: ${incident.readinesschecklist}
      check_session_exists:
        simple: ${incident.checksessionexists}
      firewall_serial:
        simple: ${inputs.target}
      min_content_version:
        simple: ${incident.minimumcontentversion}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Runs checks to confirm a PAN-OS firewall is ready to be upgraded.
      id: 759ad744-d5e3-4bb3-83ee-20ccd3627814
      iscommand: true
      name: Run Readiness Tests
      script: '|||pan-os-assurance-run-readiness-checks'
      type: regular
      version: -1
    taskid: 759ad744-d5e3-4bb3-83ee-20ccd3627814
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 210
        }
      }
  "2":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: incident.readinesscheckresult.state
                    operator: isEqualString
                    right:
                      value:
                        simple: "false"
                root: incident.readinesscheckresult.state
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "12"
      "yes":
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b6f607b6-1491-421a-840d-6899e4b8a1ef
      iscommand: false
      name: Did we get failed tests?
      type: condition
      version: -1
    taskid: b6f607b6-1491-421a-840d-6899e4b8a1ef
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 380
        }
      }
  "3":
    continueonerrortype: ""
    form:
      description: The assurance process identified issues that might prevent the
        software upgrade from starting. Please confirm whether to proceed or abort
        the assurance process.
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: |-
            ### Do you want to continue?
            *Choosing Yes will continue with the upgrade assurance process, and if no other issues are present, the upgrade process itself.*
        options: []
        optionsarg:
        - simple: "Yes"
        - simple: "No"
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      sender: Your SOC team
      title: Failed Readiness Test Confirmation
      totalanswers: 0
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: "The assurance process failed on the device ${incident.panosnetworkoperationsupgradetargetfirewall}.\n\nPlease
          validate the test result and choose whether to proceed or abort the assurance
          process. "
      cc: null
      format: ""
      methods:
      - email
      subject:
        simple: Upgrade Readiness Checks failed on ${incident.panosnetworkoperationsupgradetargetfirewall}
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: ${incident.owner}
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dbe6028c-a182-48b4-885b-78adb12380a5
      iscommand: false
      name: Failed Readiness Test Confirmation
      type: collection
      version: -1
    taskid: dbe6028c-a182-48b4-885b-78adb12380a5
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 860,
          "y": 750
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Failed Readiness Test Confirmation.Answers.0
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b370c5bd-e767-4707-8c0a-c71e494b6ed2
      iscommand: false
      name: Continue?
      type: condition
      version: -1
    taskid: b370c5bd-e767-4707-8c0a-c71e494b6ed2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 860,
          "y": 940
        }
      }
  "5":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: First Snapshot ID
      output:
        simple: ${File.EntryID}
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      check_list:
        simple: ${incident.snapshotchecklist}
      firewall_serial:
        simple: ${inputs.target}
      snapshot_name:
        simple: first_snapshot
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Takes a snapshot of the operational state of the system.
      id: 48ec72b9-8b79-412e-8933-883fbf477c19
      iscommand: true
      name: Take the first device snapshot
      script: '|||pan-os-assurance-run-snapshot'
      type: regular
      version: -1
    taskid: 48ec72b9-8b79-412e-8933-883fbf477c19
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1110
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: '{"field": "firstsnapshot"}'
      entryID:
        complex:
          accessor: EntryID
          root: File
          transformers:
          - operator: LastArrayElement
      incID:
        simple: ${incident.id}
      target:
        simple: incident attachment
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Copies a file from this incident to the specified incident. The
        file is recorded as an entry in the specified incident’s War Room.
      id: c3f8eff5-99e9-4226-87f5-a7af67d97870
      iscommand: false
      name: Save First Snapshot
      script: UploadFile
      type: regular
      version: -1
    taskid: c3f8eff5-99e9-4226-87f5-a7af67d97870
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1300
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Assurance testing aborted.
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 1e00e1f8-3b98-4fa8-8d28-8b85bef4ea9e
      iscommand: true
      name: Aborted process.
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 1e00e1f8-3b98-4fa8-8d28-8b85bef4ea9e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 860,
          "y": 1290
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      upgradeassurancereport:
        simple: |
          # Upgrade Assurance Report

          ## Readiness checks FAILED

          ${incident.readinesscheckresult(val.state=='false')=>x(val);
              function x(v) {
                  s = ""
                  if (v.length == 0) {
                      return "✅ All Tests Passing! ✅";
                  }
                  v.forEach(function(item){
                      s = s + " * ❌ " + item.test + "\n";
                  })
                  return s;
              };
          }

          ## Readiness checks PASSED

          ${incident.readinesscheckresult(val.state=='true')=>x(val);
              function x(v) {
                  s = ""
                  if (v.length == 0) {
                      return "❌ All tests failing! ❌";
                  }
                  v.forEach(function(item){
                      s = s + " * " + item.test + "\n";
                  })
                  return s;
              };
          }
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 0cc1e535-5d2a-4b13-845b-abf1bc722205
      iscommand: true
      name: Update Report
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 0cc1e535-5d2a-4b13-845b-abf1bc722205
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 30,
          "y": 380
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 27b9ce61-cf1c-4f1d-8135-b95ecb1c025a
      iscommand: false
      name: "YES"
      type: title
      version: -1
    taskid: 27b9ce61-cf1c-4f1d-8135-b95ecb1c025a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 860,
          "y": 600
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      readinesstestresult:
        simple: Failed ❌
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 02837b8b-c2b5-4d60-84ac-9f555ca29bc4
      iscommand: true
      name: Set Failed State
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 02837b8b-c2b5-4d60-84ac-9f555ca29bc4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1270,
          "y": 750
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0b69af8d-2fe8-4ff8-89ce-2ef84b6f8619
      iscommand: false
      name: "No"
      type: title
      version: -1
    taskid: 0b69af8d-2fe8-4ff8-89ce-2ef84b6f8619
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 600
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      readinesstestresult:
        simple: Passed ✅
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: f67890de-cee4-4281-8e65-6601f503875b
      iscommand: true
      name: Set Passed State
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: f67890de-cee4-4281-8e65-6601f503875b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 750
        }
      }
version: 19
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1345,
        "width": 1620,
        "x": 30,
        "y": 50
      }
    }
  }
