description: This playbook uses the Palo Alto Networks Security Advisories integration, if available, to compare all the running software versions in the environment with the list of Open CVEs and either automatically begins the upgrade process or initiates a case management process to do so.
id: PAN-OS Network Operations - Check For Open CVEs
inputs: []
name: PAN-OS Network Operations - Check For Open CVEs
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9aac3d99-ffc2-4e3a-8ef5-7cfc5eda45eb
      iscommand: false
      name: ""
      version: -1
    taskid: 9aac3d99-ffc2-4e3a-8ef5-7cfc5eda45eb
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "2":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Palo Alto Networks Security Advisories
                root: modules
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2f8528b7-89b6-46c7-8fea-c9c68198ba37
      iscommand: false
      name: Is the Advisories integration enabled?
      type: condition
      version: -1
    taskid: 2f8528b7-89b6-46c7-8fea-c9c68198ba37
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 180
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      auto_upgrade:
        simple: "false"
      panos_version:
        complex:
          accessor: sw_version
          root: PANOS.ShowSystemInfo.Summary
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Checks a specific version of software for any open CVEs, and if they exist, starts a domain upgrade for that system to a fixed version.
      id: 259d3b45-d97d-43b2-82da-ae947cb4ef6d
      iscommand: false
      name: PAN-OS Network Operations - Check Version for CVEs
      playbookName: PAN-OS Network Operations - Check Version for CVEs
      type: playbook
      version: -1
    taskid: 259d3b45-d97d-43b2-82da-ae947cb4ef6d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 450,
          "y": 590
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7d2764bf-7abf-4341-823b-be8561565990
      iscommand: false
      name: Finish
      type: title
      version: -1
    taskid: 7d2764bf-7abf-4341-823b-be8561565990
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 740
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets information from all PAN-OS systems in the topology.
      id: b9edc50c-dd66-4516-8d16-17cb2ea46673
      iscommand: true
      name: Get System Info
      script: "|||pan-os-platform-get-system-info"
      type: regular
      version: -1
    taskid: b9edc50c-dd66-4516-8d16-17cb2ea46673
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 400
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: dce2b9bb-22fa-45c4-8824-c2e61d84ae7c
      iscommand: true
      name: Close
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: dce2b9bb-22fa-45c4-8824-c2e61d84ae7c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 880
        }
      }
version: 8
view: |-
  {
    "linkLabelsPosition": {
      "2_4_#default#": 0.55
    },
    "paper": {
      "dimensions": {
        "height": 925,
        "width": 380,
        "x": 450,
        "y": 50
      }
    }
  }